{% extends "form_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block navbar %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('register_user') }}">Register</a></li>
<!--        <li class="nav-item"><a class="nav-link" href="#signup">Contact</a></li>-->
    </ul>
</div>
{% endblock %}




{% block heading %}
<!--<h2>Log into Your Account</h2>-->
<div>
<img src="https://images.unsplash.com/photo-1644436664636-a525728cf7ec?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60">
</div>
{% endblock %}

{% block content %}
<div class="container">
<!--{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}-->
  <form class="form form-horizontal" method="post" role="form" style="align:center">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

    <div style="width: 50%">
  {{ wtf.form_field(form.email) }}
  {{ wtf.form_field(form.password) }}
  {{ wtf.form_field(form.submit, button_map={"submit": "primary"}) }}
    </div>

</form>
</div>
{% endblock %}