{% extends "read_base.html" %}

{% block title %}
<title>Search</title>
{% endblock %}

{% block reading_page %}
<li class="nav-item">
    <a class="nav-link" href="">
        <h5>SEARCH</h5>
    </a>
</li>
{% endblock %}

{% block card %}
    {% for book in books %}
    <div class="card h-100">
        <img class="card-img-top" src="{{ book['volumeInfo']['imageLinks']['smallThumbnail'] }}" alt="..."/>
        <div class="card-body p-1">
            <div class="text-center">
                <h5 class="fw-bolder">{{ book['volumeInfo']['title'] }}</h5>
                {{ book['volumeInfo']['authors'] }}<br>
                {{ book['volumeInfo']['publishedDate'] }}
            </div>
        </div>        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('in_progress') }}">Reading in Progress</a></div>
        </div>

        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('completed_reading') }}">Reading Completed</a></div>
        </div>

        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('later_reading') }}">For Later Reading</a></div>
        </div>
    </div>
    {% endfor %}
{% endblock %}