{% extends "reading_base.html" %}

{% block title %}
<title>Search</title>
{% endblock %}

{% block reading_page %}
<li class="nav-item">
    <a class="nav-link" href="">
        <h5>SEARCH</h5>
    </a>
</li>
{% endblock %}

{% block card %}
<!--<div class="row mb-5">-->
<!--    <h1 class="heading">Select Book</h1>-->
    {% for book in books %}
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="{{ book['volumeInfo']['imageLinks']['thumbnail'] }}" alt="..."/>
        <!-- Product details-->
        <div class="card-body p-1">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ book['volumeInfo']['title'] }}</h5>
                <!-- Product price-->
                {{ book['volumeInfo']['authors'] }}<br>
                {{ book['volumeInfo']['publishedDate'] }}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reading</a></div>
        </div>

        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reading</a></div>
        </div>

        <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reading</a></div>
        </div>


    </div>
    {% endfor %}
<!--</div>-->
{% endblock %}